<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kompas pro EKOD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
        .rounded-image {
            border-radius: 15px;
            max-width: 30%;
        }
    </style>
</head>
<body>
<main>
    <section class="py-5 text-center container">
        <div class="row pt-lg-5">
            <div class="col-lg-8 col-md-8 mx-auto">
                <h1 class="fw-light">Kompas pro svozová auta</h1>
                <p class="lead">Aplikace pro nalezení optimální trasy mezi svozovými místy pro EKOD Servis s.r.o.</p>
                <img src="/static/imgs/logo.jpg" class="mx-auto d-block rounded-image img-fluid" alt="Logo EKOD Servis s.r.o.">
            </div>
        </div>
    </section>
    <section class="container">
        <form class="g-3" id="compass-form">
            <div class="mb-3 col-md-5 mx-auto">
                <label for="gpx-file" class="form-label">Soubor se svozovými místy</label>
                <input type="file" class="form-control" id="gpx-file" accept=".gpx">
                <div class="form-text">Soubor formátu .gpx vygenerovaný pomocí mapy.cz</div>
            </div>
            <div class="mb-3 col-md-5 mx-auto">
                <label for="nr-cars" class="form-label">Počet svozových vozidel (1-5)</label>
                <input type="number" class="form-control" id="nr-cars" min="1" max="5" value="1">
                <div class="form-text">Body budou rozdělené mezi tento počet vozidel, tak aby trasa byla podobně dlouhá</div>
            </div>
            <div class="text-center mb-3">
                <button type="button" id="find-route" class="btn btn-primary">
                    Najdi optimální trasu
                    <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
        <div id="error" class="alert alert-danger hidden col-md-5 mx-auto" role="alert"></div>
        <div id="output" class="my-3 p-3 border border-light text-dark bg-light hidden"></div>
    </section>
</main>

<script src="/static/js/button.js"></script>
<script>
    document.getElementById('find-route').addEventListener('click', async () => {
        const gpxFile = document.getElementById('gpx-file').files[0];
        const nrCars = parseInt(document.getElementById('nr-cars').value, 10);
        const output = document.getElementById('output');
        const error = document.getElementById('error');
        const findRouteButton = document.getElementById('find-route');

        // Clear previous error and output
        error.classList.add('hidden');
        error.textContent = '';
        output.classList.add('hidden');
        output.textContent = '';

        //if (!gpxFile) {
        //    error.textContent = 'Please select a GPX file';
        //    error.classList.remove('hidden');
        //    return;
        //}

        setLoadingButtonMode(findRouteButton);

        //const fileContent = await gpxFile.text();

        try {
            const response = await fetch('/api/compute_route', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ points_file: '', nr_cars: nrCars }),
            });

            if (!response.ok) {
                const data = await response.json();
                error.textContent = data.message || 'An error occurred.';
                error.classList.remove('hidden');
                setErrorButtonMode(findRouteButton);
                return;
            }

            const { task_id } = await response.json();
            output.textContent = 'Trasa se počítá. Prosím čekejte...';
            output.classList.remove('hidden');

            const interval = setInterval(async () => {
                const statusResponse = await fetch(`/api/task/result/${task_id}`);
                const statusData = await statusResponse.json();

                switch (statusData.status) {
                    case 'SUCCESS':
                        clearInterval(interval);
                        output.innerHTML = statusData.result || 'Route computation successful!';
                        setSuccessButtonMode(findRouteButton);
                        break;
                    case 'FAILURE':
                        clearInterval(interval);
                        error.textContent = 'Task failed. Please try again later.';
                        error.classList.remove('hidden');
                        output.classList.add('hidden');
                        setErrorButtonMode(findRouteButton);
                        break;
                    case 'PENDING':
                        break;

                    default:
                        clearInterval(interval);
                        error.textContent = `Unexpected task status: ${statusData.status}`;
                        error.classList.remove('hidden');
                        output.classList.add('hidden');
                        setErrorButtonMode(findRouteButton);
                        break;
                }
            }, 2000);
        } catch (err) {
            error.textContent = 'Error: ' + err.message;
            error.classList.remove('hidden');
            setErrorButtonMode(findRouteButton);
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
